.cup {
  width: 80px;
  height: var(--cup-height);
  border-radius: 20px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

@keyframes lift-cup {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-150px);
  }
}

.cup.lift {
  animation: lift-cup 0.5s ease-in-out forwards;
}