.cup {
  width: 80px;
  height: var(--cup-height);
  border-radius: 20px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

@keyframes fly-out {
  0% {
    top: 0px;
  }

  25% {
    top: -90px;
    rotate: 15deg;
  }

  50% {
    top: -180px;
    rotate: 25deg;
  }

  75% {
    top: -90px;
    rotate: 15deg;
  }

  100% {
    top: 0px;
    rotate: 0deg;
  }
}

.fly-out {
  position: relative;
  animation: fly-out 1s forwards;
}